<!-- and guess where these are defined? Yup, you guessed it: the _config.yml file -->
{% if site.resume_social_links %}
<ul class="{{ include.class }}">

  {% if include.class == 'icon-links-center' %}
  <li class="icon-link-item">
    <a href="/resume" class="icon-link" itemprop="sameAs" alt="Resume" title="Resume">
    {% include icons/icon-pdf.html %}
    <div class="icon-label">{% if include.labels == 'true' %} Resume {% endif %}</div>
  </a>
  </li>
  {% endif %}

  <li class="icon-link-item">
    <a href="https://github.com/bvolpato" class="icon-link" itemprop="sameAs" alt="GitHub" title="GitHub">
      {% include icons/icon-github.html %}
      <div class="icon-label">{% if include.labels == 'true' %} GitHub {% endif %}</div>
    </a>
  </li>
  <li class="icon-link-item">
    <a href="https://x.com/bruflow" class="icon-link" itemprop="sameAs" alt="Twitter/X" title="Twitter/X">
      {% include icons/icon-twitter.html %}
      <div class="icon-label">{% if include.labels == 'true' %} Twitter/X {% endif %}</div>
    </a>
  </li>
  <li class="icon-link-item">
    <a href="https://linkedin.com/in/bvolpato" class="icon-link" itemprop="sameAs" alt="LinkedIn" title="LinkedIn">
      {% include icons/icon-linkedin.html %}
      <div class="icon-label">{% if include.labels == 'true' %} LinkedIn {% endif %}</div>
    </a>
  </li>
  <li class="icon-link-item">
    <a href="/" class="icon-link" itemprop="url" alt="Website" title="Website">
      {% include icons/icon-website.html %}
      <div class="icon-label">{% if include.labels == 'true' %} Website {% endif %}</div>
    </a>
  </li>
</ul>
{% endif %}
